@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 }
 @-webkit-keyframes fadeInUp {
   0% {
      opacity: 0;
      -webkit-transform: translateY(20px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0);
   }
}

@keyframes fadeInUp {
   0% {
      opacity: 0;
      transform: translateY(20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

@-webkit-keyframes fadeInLeftSide {
   0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateX(0);
   }
}

@keyframes fadeInLeftSide {
   0% {
      opacity: 0;
      transform: translateX(100px);
   }
   100% {
      opacity: 1;
      transform: translateX(0);
   }
}
@-webkit-keyframes fadeInLeftSide {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeftSide {
    0% {
       opacity: 0;
       transform: translateX(-100px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
 }
 .fadeInUp {
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp;
 }
 .fadeInLeftSide {
   -webkit-animation-name: fadeInLeftSide;
   animation-name: fadeInLeftSide;
 }
 .fadeInRightSide {
    -webkit-animation-name: fadeInLeftSide;
    animation-name: fadeInLeftSide;
  }

  .dAnimationEaseIn {
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }